@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    line-height: 1.5;
    background-color: #FAFAFA;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
* {
    margin: 0;
    padding: 0;
}
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
.main{
    margin-bottom: 3rem;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin: 4rem 3rem 0 3rem;
    gap: 6rem;


}
.creative-text{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 24px;
}
.who-text h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.who-text p{
    font-size: 18px;
    font-family:'Poppins', sans-serif; 
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
    margin: 5rem 5rem 0 6rem;
    grid-gap:1rem;
    row-gap: 3rem;
    
    
}
.image{
    width: 80%;
}
.block{
    position: relative;
}
.rotate{
    position: absolute;
    transform: rotate(90deg);
    right:1% ;
    top: 11%;
    font-family:'PT Serif', serif ;
    font-weight: 500;
}
.po{
    top: 12%;
    right: -4%;
    
}.block p{
    font-family:'Poppins', sans-serif ;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1rem;
}
.down{
    margin-top: 5rem;
}



@media (max-width:480px) {
    .flex{
        flex-direction: column;
        gap: 1rem;
        margin: 4rem 2rem 0 2rem;
    }
    .creative-text{
        font-size: 1rem;
    }
    br{display: none;}
    .grid{
        grid-template-columns: repeat(2,1fr);
        margin: 5rem 2rem 0 2rem;
        column-gap: 2.2rem;
        row-gap: 0.2rem;
    }
    .image{
        width: 100%;
    }
    .block p{
        font-size: 13px;
        margin-top: 0.5rem;
    }
    .rotate{
        right:-25% ;
        font-size: 11px;
        top: 14%;   
    }
    .po{
    
        right: -32%;
    }    
    .down{
        margin-top: 2.5rem;
    }
    .up{
        margin-top: 0;
    }
    .low{
        margin-top: 2rem;
    }
    
}


@media (max-width:375px) {
    .flex{
        flex-direction: column;
        gap: 1rem;
        margin: 4rem 2rem 0 2rem;
    }
    .creative-text{
        font-size: 1rem;
    }
    br{display: none;}
    .grid{
        grid-template-columns: repeat(2,1fr);
        margin: 5rem 2rem 0 3rem;
        column-gap: 2.2rem;
        row-gap: 0.2rem;
    }
    .image{
        width: 100%;
    }
    .block p{
        font-size: 13px;
        margin-top: 0.5rem;
    }
    .rotate{
        right:-37% ;
        font-size: 11px;
        top: 14%;   
    }
    .po{
    
        right: -43%;
    }    
    .down{
        margin-top: 2.5rem;
    }
    .up{
        margin-top: 0;
    }
    .low{
        margin-top: 2rem;
    }
    
}

